*,
*::before,
*::after,
html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #1f1f1f;
}
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	color: #00ff00;
}

main {
	width: 100%;
	padding: 0;
	margin: 1rem;
}
.header {
	width: 100%;
	height: 5rem;
	display: grid;
	text-align: center;
	color: #67ea3f;
	font-family: sans-serif;
	text-transform: uppercase;
}

ul {
	list-style: none;
}
li {
	padding: 1rem;
}

.returnBtn {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	display: grid;
	align-items: center;
	justify-items: center;
	color: #000;
}
